<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head> 
    <title><%= qs.q %> - 谷搜客</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="description" content="谷搜客基于Google搜索,为喜爱谷歌搜索的朋友们免费提供高速稳定的搜索服务。搜索结果通过Google.com实时抓取，欢迎您在日常生活学习中使用谷搜客查询资料。" />
    <meta name="keywords" content="谷歌 谷搜客 google 谷歌不能访问 gusouk" />
    <meta name="apple-mobile-web-app-title" content="谷搜客">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="Longbo Ma,mlongbo@gmail.com China">
    <link rel="stylesheet" href="<%= constant.r_prefix%>/stylesheets/normalize.css">
    <!-- <link rel="stylesheet" href="<%= constant.r_prefix%>/stylesheets/pure-min.css"> -->
    <link rel="stylesheet" href="<%= constant.r_prefix%>/stylesheets/main.css">
    <link rel="stylesheet" href="<%= constant.r_prefix%>/stylesheets/font-awesome.min.css">
    <!--[if lt IE 9]>
    <style>
        .headroom-pinned {
            top: 0;
        }
        .headroom-unpinned {
            top: -100px;
        }
    </style>
    <![endif]-->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="icon" href="/images/favicon.ico">
    <link rel="bookmark" type="image/x-icon"  href="/images/favicon.ico" />
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="谷搜客" />
    <script src="<%= constant.r_prefix%>/javascripts/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <header class="header-bar" id="header_bar">
            <div style="width: 100%">
                <div class="logo">
                    <a href="/"><img width="167" height="373" src="/images/nav_logo.png"></a>
                </div>
                <div class="form_box result">
                    <form action="/search">
                        <input id="id_s_text" class="s_text" name="q" type="text" tabindex="1"  autocomplete="off" placeholder="" onkeyup="plugin.autocomplate(event)" value="<%= qs.q %>" />
                        <input id="opt_lang" name="lr" type="hidden" value="<%= qs.lr%>" /> <!-- 筛选语言 -->
                        <input id="opt_qdr" name="qdr" type="hidden" value="<%= qs.qdr%>" /> <!-- 筛选时间 -->
                      <input class="m-button" value="搜&nbsp;&nbsp;索" type="submit" tabindex="2" />
                    </form>
                      <div class="search__autocomplete result" style="position: absolute; display: none;">
                          <div class="acp-wrap">
                          </div>
                      </div>
                </div>
            </div>
            <div id="hdtbSum" style="padding-left: 115px;margin-top:15px;">
                <div id="hdtb_msb">
                 <div class="hdtb_mitem hdtb_msel hdtb_imb" onclick="plugin.toolbar.lang.swithDropMenu();">
                  语言<span class="caret"></span>
                 </div>
                 <ul class="dropdown-menu lang" style="left: -21px;">
                <% for (var i = 0, total = constants.lrArr.length; i < total; i++) {%>
                    <% if (qs.lr == i) {%>
                        <li class="active"><a data-index='<%=i%>'><%= constants.lrNames[i]%></a></li>
                    <% } else {%>
                        <li><a data-index='<%=i%>'><%= constants.lrNames[i]%></a></li>
                    <% } %>
                <% } %>
                  </ul>
                 <div class="hdtb_mitem hdtb_msel hdtb_imb" onclick="plugin.toolbar.qdr.swithDropMenu();">
                  时间<span class="caret"></span>
                 </div>
                 <ul class="dropdown-menu qdr" style="left: 37px;">
                <% for (var i = 0, total = constants.qdrArr.length; i < total; i++) {%>
                    <% if (qs.qdr == i) {%>
                        <li class="active"><a data-index='<%=i%>'><%= constants.qdrNames[i]%></a></li>
                    <% } else {%>
                        <li><a data-index='<%=i%>'><%= constants.qdrNames[i]%></a></li>
                    <% } %>
                <% } %>
                  </ul>
                 <!-- <div class="hdtb_mitem hdtb_imb">
                  <a href="">地图</a>
                 </div>
                 <div class="hdtb_mitem hdtb_imb">
                  <a href="">新闻</a>
                 </div>
                 <div class="hdtb_mitem hdtb_imb">
                  <a href="">视频</a>
                 </div> -->
                </div>
              </div>

    </header>
    <div class="content">
        <div class="" style="float: left;">

               <div class="result_stats" id="result_stats">
                <%- resultStats%>
               </div>
               <div class="search_result" id="search_result">
           <%for (var i = 0, total = list.length; i < total; i++) {%>
                <div class="s_r shadow">
                    <h3 class="title">
                        <% if ( list[i].filetype ) { %>
                        <span class="_ogd"><%= list[i].filetype%></span>
                        <% } %>
                        <a target="_blank" href="<%= list[i].url%>" name="r_url"><%- list[i].title%></a>
                    </h3>
                    <div class="visible_url"><%- list[i].cite%></div>
                    <span class="min_content"><%- list[i].content%></span>
                </div>
            <%}%>
            <% if (extrares.has) { %>
                <div id="extrares" style="padding:0 8px 8px" class="shadow">
                    <div style="clear:both;overflow:hidden" id="brs">
                        <h3 class="med" style="text-align:left"><%- extrares.title%></h3>
                    <%for (var i = 0, total = extrares.arr.length; i < total; i++) {%>
                        <div class="brs_col">
                        <%for (var j = 0, total2 = extrares.arr[i].length; j < total2; j++) {%>
                            <p class="_e4b">
                                <a href="<%= extrares.arr[i][j]['url']%>"><%- extrares.arr[i][j]['content']%></a>
                            </p>
                        <%}%>
                        </div>
                    <%}%>
                    </div>
                </div>
            <% } %>
                <div class="navcnt">
                   <ul class="pagination">
                    <%if (qs.start > 0) {%>
                        <li><a href="/search?q=<%= qs.encodeQ%>&start=<%= page.pre%>&lr=<%=qs.lr%>&qdr=<%=qs.qdr%>">上一页</a></li>
                    <%}%>
                    <% for (var i = page.start,index=0, total = page.end; i <total; i++) {%>
                        <%if (qs.start == i*10) {%>
                            <li class="active"><a><%= page.num[index++]/10+1%></a></li>
                        <%} else {%>
                            <li><a href="/search?q=<%= qs.encodeQ%>&start=<%= page.num[index]%>&lr=<%=qs.lr%>&qdr=<%=qs.qdr%>"><%= page.num[index++]/10+1%></a></li>
                        <%}%>
                    <%}%>
                        <li><a href="/search?q=<%= qs.encodeQ%>&start=<%= page.next%>&lr=<%=qs.lr%>&qdr=<%=qs.qdr%>">下一页</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="" style="float:left;">
             <div class="kp-blk _Jw _Rqb _RJe" data-hveid="115" data-ved="0CHMQww0oAA"><div class="xpdopen"><div class="_OKe"><ol data-ved="0CHQQ_xc"><li class="mod" style="clear:none" data-hveid="117" data-ved="0CHUQhygwCw"><!--m--><div class="_DLb _DCd" aria-level="3" role="heading"><div class="kno-ecr-pt kno-fb-ctx" data-ved="0CHYQ3B0oADAL"><div class="krable" data-ved="0CHcQ_x0wCw"></div>黄金时代</div><div class="_CLb kno-fb-ctx" data-ved="0CHgQ2kooATAL"><div class="krable" data-ved="0CHkQ_x0wCw"></div>王小波的书籍</div></div><!--n--></li><li class="_DJe mod" style="clear:none" data-ved="0CHoQkCkwDA"><!--m--><div class="_cgc kno-fb-ctx" data-hveid="123" data-ved="0CHsQziAoADAM"><div class="kno-rdesc"><span>本书是王小波“时代三部曲”之一,收入《三十而立》、《似水流年》、《革命时期的爱情》、《我的阴阳两界》等五篇小说。</span><span> <a class="fl q _KCd" href="http://books.google.com/books/about/%E9%BB%84%E9%87%91%E6%97%B6%E4%BB%A3.html?id=zGtzPAAACAAJ" target="_blank" wotsearchprocessed="true"><span class="_tWc">Google Books</span></a></span></div><div style="margin:2px 0 4px" class="krable" data-ved="0CH0Q_x0wDA"></div></div><!--n--></li><li class="_DJe mod" style="clear:none" data-ved="0CH4QkCkwDQ"><!--m--><!--n--></li><li class="mod" style="clear:none" data-ved="0CH8QkCkwDg"><!--m--><div class="_eFb"><div class="_mr kno-fb-ctx" data-ved="0CIABEMsTKAAwDg"><span style="margin:0 0 5px" class="krable" data-ved="0CIEBEP8dKAAwDg"></span><span class="_xdb"><a class="fl" href="/search?newwindow=1&amp;sa=X&amp;biw=1655&amp;bih=937&amp;q=%E9%BB%84%E9%87%91%E6%97%B6%E4%BB%A3+%E5%87%BA%E7%89%88%E6%97%B6%E9%97%B4&amp;stick=H4sIAAAAAAAAAGOovnz8BQMDgyEHnxCPfrq-oaFxfFG2RZWZlnx2spV-Un5-tn55UWZJSWpefHl-UbZVQWlSTmZxRmrKqfpeltiI5p1vBFce1L8VsUlZ9GgAAFVeQfVOAAAA&amp;ei=uTF1VPHVA4eD8QX8yIDAAw&amp;ved=0CIIBEOgTKAEwDg" wotsearchprocessed="true">出版时间</a>： </span><span class="_Xbe kno-fv">1994 年</span></div></div><!--n--></li><li class="mod" style="clear:none" data-ved="0CIMBEJApMA8"><!--m--><div class="_eFb"><div class="_mr kno-fb-ctx" data-ved="0CIQBEMsTKAAwDw"><span style="margin:0 0 5px" class="krable" data-ved="0CIUBEP8dKAAwDw"></span><span class="_xdb"><a class="fl" href="/search?newwindow=1&amp;sa=X&amp;biw=1655&amp;bih=937&amp;q=%E9%BB%84%E9%87%91%E6%97%B6%E4%BB%A3+%E4%BD%9C%E8%80%85&amp;stick=H4sIAAAAAAAAAGOovnz8BQMDgx4HnxCPfrq-oaFxfFG2RZWZlkx2spV-Un5-tn55UWZJSWpefHl-UbZVYmlJRn5RuKN-ff_Lp6KrlP4u9Yrs5e_3P-cLAIupjqNLAAAA&amp;ei=uTF1VPHVA4eD8QX8yIDAAw&amp;ved=0CIYBEOgTKAEwDw" wotsearchprocessed="true">作者</a>： </span><span class="_Xbe kno-fv"><a class="fl" href="/search?newwindow=1&amp;sa=X&amp;biw=1655&amp;bih=937&amp;q=%E7%8E%8B%E5%B0%8F%E6%B3%A2&amp;stick=H4sIAAAAAAAAAGOovnz8BQMDgyUHnxCPfrq-oaFxfFG2RZWZEqd-rr6BqWlaWq6WTHaylX5Sfn62fnlRZklJal58eX5RtlViaUlGftH6X-evhddzvOjcw2ZZ9vnzv7w1y-UBCRmk4lYAAAA&amp;ei=uTF1VPHVA4eD8QX8yIDAAw&amp;ved=0CIcBEJsTKAIwDw" wotsearchprocessed="true">王小波</a></span></div></div><!--n--></li><li class="mod" style="clear:none" data-ved="0CIgBEJApMBA"><!--m--><div class="_eFb"><div class="_mr kno-fb-ctx" data-ved="0CIkBEMsTKAAwEA"><span style="margin:0 0 5px" class="krable" data-ved="0CIoBEP8dKAAwEA"></span><span class="_xdb"><a class="fl" href="/search?newwindow=1&amp;sa=X&amp;biw=1655&amp;bih=937&amp;q=%E9%BB%84%E9%87%91%E6%97%B6%E4%BB%A3+%E7%94%A8%E6%88%B7%E8%BF%98%E6%90%9C%E7%B4%A2%E4%BA%86&amp;stick=H4sIAAAAAAAAAGOovnz8BQMDgwYHnxCPfrq-oaFxfFG2RZWZllh2spV-Un5-NpiwKs5MSS1PrCy2KFUT2CBqFqT1boVn68bp73yy8qUAZmkTSEUAAAA&amp;ei=uTF1VPHVA4eD8QX8yIDAAw&amp;ved=0CIsBEOgTKAEwEA" wotsearchprocessed="true">用户还搜索了</a>： </span><span class="_Xbe kno-fv"><a class="fl" href="/search?newwindow=1&amp;sa=X&amp;biw=1655&amp;bih=937&amp;q=%E7%8E%8B%E5%B0%8F%E6%B3%A2+%E5%85%A8%E9%9B%86&amp;stick=H4sIAAAAAAAAAGOovnz8BQMDgxkHnxCPfrq-oaFxfFG2RZWZEphnlJKbUVlUUaAllp1spZ-Un58NJqyKM1NSyxMri61E6k-tfWeWFqxufPz2kwsCjKezJwAAI2JMmVMAAAA&amp;ei=uTF1VPHVA4eD8QX8yIDAAw&amp;ved=0CIwBEJsTKAIwEA" wotsearchprocessed="true">王小波全集: 中篇小说. 第七卷</a>， <a class="fl" href="/search?newwindow=1&amp;sa=X&amp;biw=1655&amp;bih=937&amp;q=%E5%94%90%E4%BA%BA+%E6%95%85%E4%BA%8B+%E7%8E%8B%E5%B0%8F%E6%B3%A2&amp;stick=H4sIAAAAAAAAAGOovnz8BQMDgxkHnxCPfrq-oaFxfFG2RZWZEphnlJSbYlmZlq0llp1spZ-Un58NJqyKM1NSyxMri6u77_w3ZKx4IbfMrvLB1crWS3t0IgAUmR6DUwAAAA&amp;ei=uTF1VPHVA4eD8QX8yIDAAw&amp;ved=0CI0BEJsTKAMwEA" wotsearchprocessed="true">唐人故事</a><span>，</span><span> </span><a class="fl" href="/search?newwindow=1&amp;sa=X&amp;biw=1655&amp;bih=937&amp;q=%E9%BB%84%E9%87%91%E6%97%B6%E4%BB%A3+%E7%94%A8%E6%88%B7%E8%BF%98%E6%90%9C%E7%B4%A2%E4%BA%86&amp;stick=H4sIAAAAAAAAAGOovnz8BQMDgwYHnxCPfrq-oaFxfFG2RZWZllh2spV-Un5-NpiwKs5MSS1PrCy2KFUT2CBqFqT1boVn68bp73yy8qUAZmkTSEUAAAA" wotsearchprocessed="true"><span>等等</span></a></span></div></div><!--n--></li></ol></div><div style="clear:both"></div></div></div>
         </div>
    </div>
    <div class="fbarcnt" style="clear:both;">
        <div class="" style="padding: 9px 0;">
            &nbsp;
        </div>
        <div class="">
            <%- include partials/footer%>
        </div>
    </div>


    <!-- jQuery 
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="<%= constant.r_prefix%>/javascripts/vendor/jquery.min.js"><\/script>')</script>
    <script src="<%= constant.r_prefix%>/javascripts/vendor/headroom.min.js"></script>
    <script src="<%= constant.r_prefix%>/javascripts/main.js"></script>
    <script src="<%= constant.r_prefix%>/javascripts/plugins.js"></script>
<%if (!constant.encrypted) {%>
    <script type="text/javascript" src="<%= constant.r_prefix%>/javascripts/wordcheck.js"></script>
<%}%>
    <script type="text/javascript">
        plugin.headroom("#header_bar");
        plugin.toolbar.lang.bindClick();
        plugin.toolbar.qdr.bindClick();
   </script>
<!--这是我自己的网站统计   http://gso.mlongbo.com    请替换掉-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42596364-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
